 .navbar{
  display: inline-flex;
  width:100%;
  text-align: left;
  justify-content: flex-start;
  margin:auto;
  
 }
 
 .navbar-brand{
  width:3.2rem;
 }

 .navbar-toggler{
  width:4rem;
 }
 .skarn-logo{
    width:3rem;
    height:auto;
 }
 .nav-link, .nav-link:visited  {
    display: inline-block;
    position:relative;
    padding: 13px 6px 13px 6px;
    font-family: "Bebas Neue";
    font-size: 1.7rem;
    text-decoration: none;
    color: rgba(255, 221, 148,1);
  }
  
  .nav-link:hover {
    background-color: #302E2E;
    border-bottom: 3px solid rgba(255, 221, 148,1);
  }

  .navbar-nav{
    width:30%;
  }