.footer-container{
    font-family: "Bebas Neue";
    font-size:1.2rem;
    width:100%;
    margin:auto;
}


.social-logo >a, .social-logo >a:visited {
    color:white;
    font-size: 1.3rem;
}

.footer-item{
    display:inline;
    vertical-align:baseline ;
    
}