body {
  margin: auto;
  max-width:1800px;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Bebas Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
